.App {
    font-family: sans-serif;
    text-align: center;
    position: relative;
  }
body{
  background-color: rgb(25, 32, 51);
  color: white;
}  
.logo{
  height: 200px;

}
ul{
  width: 60%;
  position: relative;
}
li{
  margin-top: 15px;
}
ul.nav{
  text-align: center;
 
}
button{
  color: pink;
  height: 35px;
  
}
.search-form{
  width: 90%;
  margin:0 auto;
  max-width: 600px;
  
}

.search-form input {
  height: 25px;
  border: none;
}